"*":
  "atom-pair": {}
  "atom-ternjs": {}
  "autocomplete-plus":
    confirmCompletion: "tab"
  "color-picker":
    preferredFormat: "HEX"
    uppercaseColorValues: true
  core:
    disabledPackages: [
      "emmet-atom"
      "pane-split-moves-tab"
    ]
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  docblockr:
    extra_tags: [
      "@memberof"
    ]
  editor:
    invisibles: {}
    preferredLineLength: 120
  emmet: {}
  "exception-reporting":
    userId: "f9efc126-a716-0497-70da-1aef0bbe070d"
  "fuzzy-finder": {}
  "git-blame": {}
  linter:
    showErrorPanel: false
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-jscs":
    onlyConfig: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    lintInlineJavaScript: true
  "persistent-undo": {}
  pigments:
    ignoredScopes: [
      "\\.comment"
      "\\.string"
    ]
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
