"*":
  editor:
    invisibles: {}
    preferredLineLength: 120
  core:
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
    disabledPackages: [
      "emmet-atom"
      "atom-ternjs"
      "linter-jshint"
    ]
  "exception-reporting":
    userId: "f9efc126-a716-0497-70da-1aef0bbe070d"
  welcome:
    showOnStartup: false
  "tree-view":
    hideIgnoredNames: true
  "autocomplete-plus": {}
  "fuzzy-finder": {}
  emmet: {}
  "atom-ternjs": {}
  linter: {}
  "git-blame": {}
